@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import "tailwindcss";


@theme {
  --font-outfit: "Outfit", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2a1134;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #2a1134;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: contain;
  /* Style the entire scrollbar */

}
/* app/globals.css */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

/* Global Scrollbar Styles (Light Theme) */
::-webkit-scrollbar {
  width: 0.5px; /* Adjust width as needed */
  height: 5px; /* Adjust height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Light theme track color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Light theme thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Light theme thumb hover color */
}

/* Dark Theme Scrollbar Styles */
.dark ::-webkit-scrollbar-track {
  background-color: #1e0021; /* Dark theme track color */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #1e0021; /* Dark theme thumb color */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #1e0021; /* Dark theme thumb hover color */
}